{% extends "header.html" %} 
{% block dynamic_content %}

<div class="container text-center">
    <h1>{{ pageTitle }}</h1>

    <!-- Just threw together a boilerplate -->
    <div class="container my-5">
        <div class="row align-items-middle align-middle">
                <div class="col-md-12">
                        <p>"Tunnel Vision" is created by <a href="https://wmcda.de">Wilson McDade</a> to highlight the tunnels in RIT's residence halls.</p>
                        <p>Special Thanks to Erin Monahan and Beckett Jenen for helping to make this project possible.</p>
                </div>
        </div>
    </div>


</div>
{% endblock %}
