{% extends "header.html" %}
{% block dynamic_content %}

<div class="container text-center">
    <div class="row mb-3">
        <form action="/catalog">
            <div class="input-group">
                <label class="visually-hidden" for="q">Search:</label>
                <input name="q" id="q" type="text" class="form-control" {% if not q %} placeholder="Search..." {% else %} value="{{ q }}" {% endif %}>
                <button class="btn btn-dark" type="submit" aria-expanded="false">
                    <img src="{{ url_for('static', filename='images/search.png') }}" alt="Search Icon" style="width: 20px; height: 20px; margin-bottom: 2px; filter: invert(1);">
                </button>
            </div>
        </form>
    </div>

    {% if murals | length > 0 %}
    <div class="container-fluid">
        <div class="row">
            {% for mural in murals %}
                {% if loop.index is divisibleby 18 %}
                    {{ muralcard(mural, True, 1) }}
                {% else %}
                    {{ muralcard(mural) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <h2>No Murals Found</h2>
    <a href="/catalog"><h2>Clear query</h2></a>
    {% endif %}
</div>

{% endblock %}
