{% extends "header.html" %}
{% block dynamic_content %}
 
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Warning! You are about to delete an entry!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Deleting this entry will delete all associated media, including imagery, feedback, artist, and all details of the piece.</p>
            <p><b>This cannot be undone.</b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          <form action="/delete/{{ muralDetails['id'] }}" method="post">
          <button type="submit" class="btn btn-danger">Delete Mural</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  

<div class="container">
    <form action="/edittitle/{{ muralDetails['id'] }}" method="post">
        <div class="d-grid gap-2 d-md-block">
            <input value="{{ muralDetails['title'] }}" type="text" class="form-control" id="title" name="title" required>
            <button type="submit" class="btn btn-primary">Edit Title</button>
        </div>
    </form>
    <div class="row">
        <div class="col-8 mb-3">
            {% for image in muralDetails["images"]: %}
            <img style="width:100%;" src="{{ muralDetails['images'][loop.index-1]['imgurl'] }}">
            <form action="/makethumbnail?muralid={{ muralDetails['id'] }}&imageid={{ muralDetails['images'][loop.index-1]['id'] }}" method="post">
                <button type="submit" class="btn btn-primary">Make this the thumbnail</button>
            </form>
            <form action="/editimage/{{ muralDetails['images'][loop.index-1]['id'] }}" method="post">
                <div class="mb-3">
                    <label for="caption" class="form-label">Caption</label>
                    <input value="{{ muralDetails['images'][loop.index-1]['caption'] }}" type="text" class="form-control" id="caption" name="caption" required>
                </div>
                <div class="mb-3">
                    <label for="alttext" class="form-label">Alt Text</label>
                    <input value="{{ muralDetails['images'][loop.index-1]['alttext'] }}" type="text" class="form-control" id="alttext" name="alttext" required>
                </div>
                <button type="submit" class="btn btn-primary">Edit Details</button>
                </form>
            <form action="/deleteimage/{{ muralDetails['images'][loop.index-1]['id'] }}" method="post">
            <button type="submit" class="btn btn-danger">Delete Image</button>
            </form>
            {% endfor %}
            <form action="/uploadimage/{{ muralDetails['id'] }}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="images" class="form-label">Upload New Images</label>
                    <input type="file" class="form-control" id="images" name="images[]" multiple>
                </div>
            <button type="submit" class="btn btn-primary">Upload New Images</button>
            </form>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-7">
                    {% if muralDetails['prevmuralid'] != None: %}
                    <a class="btn btn-primary" role="button" href="{{ muralDetails['prevmuralid'] }}">Prev</a>
                    {% endif %}
                </div>
                <div class="col-5">
    
                    {% if muralDetails['nextmuralid'] != None: %}
                    <a class="btn btn-primary" role="button" href="{{ muralDetails['nextmuralid'] }}">Next</a>
                    {% endif %}
                </div>
            </div>
            <h1>Thumbnail</h1>
            <img src="{{ muralDetails['thumbnail'] }}">
            <h1>General Information</h1>
            <form action="/editmural/{{ muralDetails['id'] }}" method="post">
                <div class="mb-3">
                    <label for="notes" class="form-label">Notes</label>
                    <input value="{{ muralDetails['notes'] }}" type="text" class="form-control" id="notes" name="notes" required>
                </div>
                <div class="mb-3">
                    <label for="remarks" class="form-label">Remarks</label>
                    <input value="{{ muralDetails['remarks'] }}" type="text" class="form-control" id="remarks" name="remarks" required>
                </div>
                <div class="mb-3">
                    <label for="year" class="form-label">Year</label>
                    <input value="{{ muralDetails['year'] }}" type="text" class="form-control" id="year" name="year" required>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input value="{{ muralDetails['location'] }}" type="text" class="form-control" id="location" name="location" required>
                </div>
                <h1>Private Information</h1>
                <div class="mb-3">
                    <label for="location" class="form-label">Private Notes</label>
                    <input value="{{ muralDetails['private_notes'] }}" type="text" class="form-control" id="private_notes" name="private_notes" required>
                </div>
                <button type="submit" class="btn btn-primary">Edit Details</button>
            </form>
            
            {% if muralDetails["artists"]|length > 0: %}
            <h3>Artists:</h3>
            <ul>
            {% for artist in muralDetails["artists"]: %}
            <li><a href="/artist/{{ artist['id'] }}">{{artist["name"]}}</a></li>
            {% endfor %}
            </ul>
            {% endif %}<!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Delete Mural
              </button>
        </div>
    </div>
    <script>
        document.addEventListener('keydown', function(event) {
          switch(event.key) {
            {% if muralDetails['prevmuralid'] != None: %}
            case 'ArrowLeft':
              window.location.href = '{{ muralDetails['prevmuralid'] }}';
              break;
            {% endif %}
            {% if muralDetails['nextmuralid'] != None: %}
            case 'ArrowRight':
              window.location.href = '{{ muralDetails['nextmuralid'] }}';
              break;
            {% endif %}
          }
        });
        </script>
</div>

{% endblock %}