{% extends "header.html" %}
{% block dynamic_content %}

<div class="container">
    <h1>{{ muralDetails["title"] }} </h1>
    <div class="row">
        <div class="col-8 mb-3">
            {% for image in muralDetails["images"]: %}
            <img style="width:100%;" src="{{ muralDetails['images'][loop.index-1]['imgurl'] }}">
            <form action="/editimage/{{ muralDetails['images'][loop.index-1]['id'] }}" method="post">
                <div class="mb-3">
                    <label for="caption" class="form-label">Caption</label>
                    <input value="{{ muralDetails['images'][loop.index-1]['caption'] }}" type="text" class="form-control" id="caption" name="caption" required>
                </div>
                <div class="mb-3">
                    <label for="alttext" class="form-label">Alt Text</label>
                    <input value="{{ muralDetails['images'][loop.index-1]['alttext'] }}" type="text" class="form-control" id="alttext" name="alttext" required>
                </div>
                <button type="submit" class="btn btn-primary">Edit Details</button>
                </form>
            <form action="/deleteimage/{{ muralDetails['images'][loop.index-1]['id'] }}" method="post">
            <button type="submit" class="btn btn-danger">Delete Image</button>
            </form>
            {% endfor %}
            <form action="/uploadimage/{{ muralDetails['id'] }}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="images" class="form-label">Upload New Images</label>
                    <input type="file" class="form-control" id="images" name="images[]" multiple>
                </div>
            <button type="submit" class="btn btn-primary">Upload New Images</button>
            </form>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-7">
                    {% if muralDetails['prevmuralid'] != None: %}
                    <a class="btn btn-primary" role="button" href="{{ muralDetails['prevmuralid'] }}">Prev</a>
                    {% endif %}
                </div>
                <div class="col-5">
    
                    {% if muralDetails['nextmuralid'] != None: %}
                    <a class="btn btn-primary" role="button" href="{{ muralDetails['nextmuralid'] }}">Next</a>
                    {% endif %}
                </div>
            </div>
            <input type="checkbox" {% if muralDetails['active'] %} checked {% endif %} name="active">
            <label for="active">Active</label>
            <h3>Notes:</h3>
            <p>{{ muralDetails["notes"] }}</p>
            <h3>Year:</h3>
            <p><a href="/year/{{ muralDetails['year'] }}">{{ muralDetails["year"] }}</a></p>
            <h3>Location:</h3>
            <p>{{ muralDetails["location"] }} </p>
            
            {% if muralDetails["artists"]|length > 0: %}
            <h3>Artists:</h3>
            <ul>
            {% for artist in muralDetails["artists"]: %}
            <li><a href="/artist/{{ artist['id'] }}">{{artist["name"]}}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            <form action="/delete/{{ muralDetails['id'] }}" method="post">
            <button type="submit" class="btn btn-danger">Delete Mural</button>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('keydown', function(event) {
          switch(event.key) {
            {% if muralDetails['prevmuralid'] != None: %}
            case 'ArrowLeft':
              window.location.href = '{{ muralDetails['prevmuralid'] }}';
              break;
            {% endif %}
            {% if muralDetails['nextmuralid'] != None: %}
            case 'ArrowRight':
              window.location.href = '{{ muralDetails['nextmuralid'] }}';
              break;
            {% endif %}
          }
        });
        </script>
</div>

{% endblock %}