{% extends "header.html" %}
{% block content %}
<style>
    .carousel-full-background {
        position: relative;
        width: 100%;
        height: 100vh; /* Adjust height to your preference */
        overflow: hidden;
    }

    .carousel-full-background .carousel-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .carousel-full-background .carousel-inner .carousel-item {
        position: absolute;
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
    }

    .carousel-full-background .carousel-inner .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel-full-background .carousel-inner .carousel-item {
        transition: 1.2s ease;
    }

    .carousel-full-background .carousel-inner .carousel-item.active {
        transition: 1.2s ease;
    }

    .carousel-control-prev, .carousel-control-next {
        font-size: 30px;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
        opacity: 0.7;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 3px;
    }

    .carousel-control-prev:hover, .carousel-control-next:hover {
        background: rgba(0,0,0,0.2);
        transition: 0.2s ease;
    }

    .banner-text {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
        color: white;
    }

    .banner-text h2 {
        background: rgba(247, 105, 2, 0.6);
        padding: 10px;
        border-radius: 5px;
    }
</style>

<script>
    // Mod carousel settings (if you need)
    document.addEventListener('DOMContentLoaded', function() {
        var myCarousel = document.getElementById('muralImagesCaptions');
        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 4000, // Set the interval to 4 seconds (adjust as needed)
        });
    });
</script>

<div class="container-fluid p-0">
    <div id="muralImagesCaptions" class="carousel carousel-full-background slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for image in muralHighlights %}
                <div class="carousel-item {{ 'active' if loop.index == 1 else '' }}">
                    <img alt="{{ image['alttext'] }}" src="{{ image['imgurl'] }}">
                </div>
            {% endfor %}
        </div>
        <div class="banner-text">
            <h2>{{ pageTitle }}</h2>
        </div>
        {% if muralHighlights|length > 1 %}
            <button class="carousel-control-prev" type="button" data-bs-target="#muralImagesCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#muralImagesCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        {% endif %}
    </div>
</div>

<!-- <div class="container text-center">
    <div class="row row-cols-5">
        {% for mural in murals %}
            {{ muralcard(mural) }}
        {% endfor %}
    </div>
</div> -->
{% endblock %}