{% extends "header.html" %} {% block content %}

<div class="container text-center">
    <div class="row row-cols-2">
    {% for mural in murals: %}
    <div class="card" style="width: 15rem">
        <div class="col">
            <a href="murals/{{ mural['id'] }}">
            <img class="card-img-top"  src="{{ mural['imageurl'] }}">
            <div class="card-body">
                <p>{{ mural['title'] }}</p>
            </div>
            </div>
        </a>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}