{% extends "header.html" %}
{% block title %}
{{ muralDetails["title"] }} - TunnelVision
{% endblock %}
{% block dynamic_content %}

<style>
    .no-a-styles {
        text-decoration: none;
        color: white;
    }
    .img-zoom-container {
    position: relative;
    }

    .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
    }

    .img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
    }

    .main-img {
        width:100%;
        height: 700px;
        object-fit: contain;
    }
</style>
<div class="container">
    <h1>{{ muralDetails["title"] }} </h1>
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div id="muralImagesCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for image in muralDetails["images"]: %}
                    {% if loop.index == 1 %}
                        <button type="button" data-bs-target="muralImagesCaptions" data-bs-slide-to="{{ loop.index-1 }}" class="active" aria-current="true" aria-label="Slide {{ loop.index-1 }}"></button>
                    {% else %}
                        <button type="button" data-bs-target="muralImagesCaptions" data-bs-slide-to="{{ loop.index-1 }}" aria-label="Slide {{ loop.index-1 }}"></button>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in muralDetails["images"]: %}
                    {% if loop.index == 1 %}
                    <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item text-center">
                    {% endif %}
                        <img class="main-img" alt="{{ muralDetails['images'][loop.index-1]['alttext'] }}" src="{{ muralDetails['images'][loop.index-1]['imgurl'] }}">
                        <div class="carousel-caption d-none d-md-block banner-value">
                            {% if muralDetails['images'][loop.index-1]['caption'] != None %}<p class="no-a-styles">
{{ muralDetails['images'][loop.index-1]['caption'] }}</p>{% endif %}
                            <pre style="font-family:inherit;font-size:inherit">{% if muralDetails['images'][loop.index-1]['attribution'] != None %}Photo: {{ muralDetails['images'][loop.index-1]['attribution']}}{% if muralDetails['images'][loop.index-1]['datecreated'] != None %}, {{ muralDetails['images'][loop.index-1]['datecreated'].strftime("%B %d, %Y") }}{% endif %}{% endif %}{% if muralDetails['images'][loop.index-1]['fullsizeimage']%}<a class="no-a-styles" href="{{ muralDetails['images'][loop.index-1]['fullsizeimage'] }}">
View Full Size Image</a>{% endif %}</pre>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                {% if muralDetails["images"]|length > 1 %}
                <button class="carousel-control-prev" type="button" data-bs-target="#muralImagesCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#muralImagesCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            {% if muralDetails["notes"] != '' %}
            <h3>Description:</h3>
            <pre style="font-family:inherit;font-size:inherit">{{ muralDetails["notes"] }} </pre>
            {% endif %}
            <h3>Year:</h3>
            <p><a href="/year/{{ muralDetails['year'] }}">{% if muralDetails["year"] != 0 %}{{ muralDetails["year"] }}{% else %}Unknown{% endif %}</a></p>
            {%if spotify %}
            <h3>Related Music:</h3>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{ spotify }}" width="100%" height="160" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            {% endif %}
            <h3>Location:</h3>
            <p>{{ muralDetails["location"] }} </p>

            {% if muralDetails['tags']|length > 0 %}
            <h3>Tags:</h3>
            {% for tag in muralDetails['tags']: %}
            <a href="/tags?t={{ tag }}"><p class="chip">{{ tag }}</p></a>
            {% endfor %}
            {% endif %}
            
            {% if muralDetails["artists"]|length > 0: %}
            <h3>Painters:</h3>
            <ul>
            {% for artist in muralDetails["artists"]: %}
            <li><a href="/artist/{{ artist['id'] }}">{{artist["name"]}}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            
            {% if muralDetails["remarks"] != '' %}
            <div class="accordion" id="remarkdropdown">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="remarkheading" title="Remarks can provide additional information about a piece, including details sourced from suggestions, conversations, and other casual sources.">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#remarkcollapse" aria-controls="remarkcollapse">
                        Remarks
                        </button>
                    </h2>
                    <div id="remarkcollapse" class="accordion-collapse collapse" aria-labelledby="remarkheading" data-bs-parent="#remarkdropdown">
                        <div class="accordion-body">
                            <div class="container">
                                <pre style="font-family:inherit;font-size:inherit">{{ muralDetails['remarks'] }}</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                    Suggestion? Feedback?
                    </button>
                </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="container">
                                <form action="/suggestion" method="post" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label for="notes" class="form-label"><b>Notes</b></label>
                                        <p class="thin">What could be improved with this mural listing?</p>
                                        <input type="text" class="form-control" style="margin-bottom: 10px; margin-top: -10px;" id="notes" name="notes" required>
                                        <label for="notes" class="form-label"><b>Your Contact</b></label>
                                        <p class="thin">How can we reach you to follow up?</p>
                                        <input type="text" class="form-control" id="contact" name="contact">
                                        <input type="text" class="visually-hidden" id="muralid" name="muralid" value="{{ muralDetails['id'] }}">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-7">
                {% if muralDetails['prevmuralid'] != None: %}
                <a class="btn btn-primary" role="button" href="{{ muralDetails['prevmuralid'] }}">Prev</a>
                {% endif %}
            </div>
            <div class="col-5">

                {% if muralDetails['nextmuralid'] != None: %}
                <a class="btn btn-primary" role="button" href="{{ muralDetails['nextmuralid'] }}">Next</a>
                {% endif %}
            </div>
        </div>
        <script>
            document.addEventListener('keydown', function(event) {
              switch(event.key) {
                {% if muralDetails['prevmuralid'] != None: %}
                case 'ArrowLeft':
                  window.location.href = '{{ muralDetails['prevmuralid'] }}';
                  break;
                {% endif %}
                {% if muralDetails['nextmuralid'] != None: %}
                case 'ArrowRight':
                  window.location.href = '{{ muralDetails['nextmuralid'] }}';
                  break;
                {% endif %}
              }
            });
            </script>
    </div>
</div>

{% endblock %}