{% extends "header.html" %} {% block content %}

<a href="/"><p>Back</p></a>
<p>Mural</p>

<p>{{ muralDetails["title"] }} </p>
<img style="height: 150px" src="{{ muralDetails['imageurl'] }}">

<p>{{ muralDetails["notes"] }} </p>
<p>{{ muralDetails["year"] }} </p>
<p>{{ muralDetails["location"] }} </p>

{% for artist in muralDetails["artists"]: %}
<a href="/artist/{{ artist['id'] }}"><p>{{artist["name"]}}</p></a>
{% endfor %}

{% if muralDetails['nextmuralid'] != None: %}
<a href="{{ muralDetails['nextmuralid'] }}">Next</a>
{% endif %}

{% if muralDetails['prevmuralid'] != None: %}
<a href="{{ muralDetails['prevmuralid'] }}">Prev</a>
{% endif %}

{% endblock %}