{% macro muralcard(mural, paginate, pageNum) %}
<div class="card col-lg-2 col-md-6 col-sm-12 col-xs-12" 
{% if paginate %}
    hx-get="/page?p={{ pageNum }}"
    hx-trigger="revealed"
    hx-swap="afterend"
{% endif %}>
<div>
    <a style="text-decoration: none; color:inherit" href="/murals/{{ mural['id'] }}">
    <img class="card-img-top" src="{{ mural['thumbnail'] }}">
        {% if mural['tags']|length > 0 %}
        <div class="card-body">
        <p style="margin-bottom: 2px;">{{ mural['title'] }}</p>
        <p style="margin-bottom: 4px">({% if mural["year"] != 0 %}{{ mural["year"] }}{% else %}Unknown{% endif %})</p>
        {% for tag in mural['tags'] %}
        <p style="margin-bottom: 2px" class="chip small">{{ tag }}</p>
        {% endfor %}
        {% else %}
        <div class="card-body">
        <p style="margin-bottom: 4px">{{ mural['title'] }}</p>
        <p>({% if mural["year"] != 0 %}{{ mural["year"] }}{% else %}Unknown{% endif %})</p>
        {% endif %}
    </div>
    </div>
</a>
</div>
{% endmacro %}

{% for mural in murals %}
{% if loop.index is divisibleby 18 %}
    {{ muralcard(mural, True, page) }}
{% else %}
    {{ muralcard(mural) }}
{% endif %}
{% endfor %}